<%# page partial for new/editing sellers info %>

  <%= form_with(model: seller, local: true) do |form| %>
    
    <%#  error recovery %>
    <% if seller.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2>
        <ul>
          <% seller.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%#  input fields %>
    <div class="field">
      <%= form.label :business_name %>
      <%= form.text_field :business_name, required: true %>
    </div>
    <div class="field">
      <%= form.label :abn %>
      <%= form.text_field :abn %>
    </div>
    <div class="field">
      <%= form.label :website %>
      <%= form.text_field :website %>
    </div>
    <div class="field">
      <%= form.label :facebook %>
      <%= form.text_field :facebook %>
    </div>
    <div class="field">
      <%= form.label :twitter %>
      <%= form.text_field :twitter %>
    </div>
    <div class="field">
      <%= form.label :linkedin %>
      <%= form.text_field :linkedin %>
    </div>
    <div class="field">
      <%= form.label :instagram %>
      <%= form.text_field :instagram %>
    </div>
    <div class="field">
      <%= form.label :about %>
      <%= form.text_area :about %>
    </div>
    <div class="field">
      <%= form.label :address_line_1 %>
      <%= form.text_area :address_line_1, required: true %>
    </div>
    <div class="field">
      <%= form.label :address_line_2 %>
      <%= form.text_area :address_line_2 %>
    </div>
    <div class="field">
      <%= form.label :city %>
      <%= form.text_field :city, required: true %>
    </div>
    <div class="field">
      <%= form.label :postcode %>
      <%= form.text_field :postcode, required: true %>
    </div>
    <div class="field">
      <%= form.label :country %>
      <%= form.country_select :country %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

