<%# page for editing sellers %>
<h1 class = "heading-text" >Editing Seller</h1>
<div class = "basic-form-box">
  <%= render 'form', seller: @seller %>
  <h3>Cancel my seller account</h3>
  <p>Note, this will render all your patterns prices free</p>
  <%= button_to 'Delete your seller account', seller_path, method: :delete, data: { confirm: 'You will render all your patterns free, Are you sure?' } %>
  <%= link_to 'Show', @seller %> |
  <%= link_to 'Back', sellers_path %> |
  <%= link_to 'Home', patterns_path %>
</div>
