<p id="notice"><%= notice %></p>

<h1>Sellers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Business name</th>
      <th>Abn</th>
      <th>Website</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Linkedin</th>
      <th>Instagram</th>
      <th>About</th>
      <th>Address line 1</th>
      <th>Address line 2</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= User.find(seller.user_id).name %></td>  
        <td><%= seller.business_name %></td>
        <td><%= seller.abn %></td>
        <td><%= seller.website %></td>
        <td><%= seller.facebook %></td>
        <td><%= seller.twitter %></td>
        <td><%= seller.linkedin %></td>
        <td><%= seller.instagram %></td>
        <td><%= seller.about %></td>
        <td><%= seller.address_line_1 %></td>
        <td><%= seller.address_line_2 %></td>
        <td><%= seller.city %></td>
        <td><%= seller.postcode %></td>
        <td><%= seller.country %></td>
        <td><%= link_to 'Show', seller %></td>
        <td><%= link_to 'Edit', edit_seller_path(seller) %></td>
        <td><%= link_to 'Destroy', seller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Is Seller</th>
      <th>Deleted at</th>
      <th>Created at</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>  
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.is_seller %></td>
        <td><%= user.deleted_at %></td>
        <td><%= user.created_at %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
        <td><%= link_to 'Destroy', user_registration_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_registration_path %>
<%= link_to 'New Seller', new_seller_path %>
