<h1 class = "heading-text" >Seller Details</h1>
<div class = "basic-form-box">
  <p>
    <strong>Name:</strong>
    <%= @seller.business_name %>
  </p>
  <%if @seller.website %>
    <p>
      <strong>Website:</strong>
      <%= @seller.website %>
    </p>
  <% end %>
  <%if @seller.facebook %>
    <p>
      <strong>Facebook:</strong>
      <%= @seller.facebook %>
    </p>
  <% end %>
  <%if @seller.twitter %>
    <p>
      <strong>Twitter:</strong>
      <%= @seller.twitter %>
    </p>
  <% end %>
  <%if @seller.linkedin %>
    <p>
      <strong>Linkedin:</strong>
      <%= @seller.linkedin %>
    </p>
  <% end%>
  <%if @seller.instagram %>
    <p>
      <strong>Instagram:</strong>
      <%= @seller.instagram %>
    </p>
  <% end %>
  <% if @seller.about%>
    <p>
      <strong>About:</strong>
      <%= @seller.about %>
    </p>
  <% end %>
  <p>
    <strong>Country:</strong>
    <%= @seller.country %>
  </p>
  <% if user_signed_in? && current_user.id == @seller.user_id && current_user.is_seller %>
  <%= link_to 'Edit', edit_seller_path(@seller) %> |
  <% end %>
  <%= link_to 'Back', patterns_path %>
</div>
