<%# page partial for displaying patterns owned, bought and all patterns %>

<div class="patterns-container">
  <% patterns.each do |pattern| %>
    <div class="pattern-box">
      <%# wont show if pattern is not complete unless its the owner of the pattern %>
      <% if pattern.complete or (user_signed_in? && current_user.id == pattern.user_id) %>
        <ul class = "pattern-details">
          <li class = 'pattern-title'><%= pattern.name %></li>

          <%# Show first image of pattern (validation ensures at least one image) %>
            <li class = "pattern-thumb">
               <%= image_tag pattern.pictures.first.variant(resize_to_limit: [200, 200]) %>
            </li>

          <%# Show pattern details %>

          <%# if the pattern has a valid seller %>
          <% if pattern.user.is_seller?%>
            <%# display seller business name %>
            <li>By: <%= pattern.user.seller.business_name %></li>
          <% end %>
          <li>For sizes: <%= pattern.sizes %></li>
          <%# display correct garment name from garment_id %>
          <li>Type: <%= pattern.garment.name %></li>
          <li>For: <%= pattern.category %></li>
          <li>Description: <%= pattern.description %></li>
          <li>Difficulty: <%= pattern.difficulty %></li>
          <li>Price: <%= number_to_currency(pattern.price) %></li>
        </ul>
        <div class = "links">
          <span class = "link"><%= link_to 'View', pattern %></span> 

          <%#  Allow edit if pattern owner or admin %>
          <% if user_signed_in? && (current_user.id == pattern.user_id && current_user.is_seller || current_user.admin) %>
            <span class = "link"><%= link_to 'Edit', edit_pattern_path(pattern) %></span>

            <%#  Allow deletion if pattern is incomplete or not bought by anyone %>
            <% if !pattern.complete || !pattern.transactions.any? %>
              <span class = "link"><%= link_to 'Delete', pattern, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
