<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Sizes</th>
      <th>Fabric</th>
      <th>Fabric amount</th>
      <th>Garment</th>
      <th>Category</th>
      <th>Price</th>
      <th>Description</th>
      <th>Difficulty</th>
      <th>Notions</th>
      <th>Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% patterns.each do |pattern| %>
      <% if pattern.complete or (user_signed_in? && current_user.id == pattern.user_id) %>
      <tr>
        <td><%= User.find(pattern.user_id).username %></td>
        <% if pattern.pictures.attached? %>
        <td><%= image_tag pattern.pictures[0].variant(resize_to_limit: [100, 100]) %></td>
        <% end %>
        <td><%= pattern.name %></td>
        <td><%= pattern.sizes %></td>
        <td><%= pattern.fabric %></td>
        <td><%= pattern.fabric_amount %></td>
        <td><%= Garment.find(pattern.garment_id).name %></td>
        <td><%= pattern.category %></td>
        <td><%= number_to_currency(pattern.price) %></td>
        <td><%= pattern.description %></td>
        <td><%= pattern.difficulty %></td>
        <td><%= pattern.notions %></td>
        <td><%= pattern.complete %></td>
        <td><%= link_to 'Show', pattern %></td>
        <% if user_signed_in? && (current_user.id == pattern.user_id && current_user.is_seller || current_user.admin)   %>
          <td><%= link_to 'Edit', edit_pattern_path(pattern) %></td>
          <% if !pattern.complete || !pattern.transactions.any? %>
            <td><%= link_to 'Destroy', pattern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        <% end %>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

