<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= User.find(@pattern.user_id).username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pattern.name %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @pattern.sizes %>
</p>

<p>
  <strong>Fabric:</strong>
  <%= @pattern.fabric %>
</p>

<p>
  <strong>Fabric amount:</strong>
  <%= @pattern.fabric_amount %>
</p>

<p>
  <strong>Garment:</strong>
  <%= Garment.find(@pattern.garment_id).name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pattern.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pattern.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pattern.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @pattern.difficulty %>
</p>

<p>
  <strong>Notions:</strong>
  <%= @pattern.notions %>
</p>


<% if user_signed_in? && current_user.id == @pattern.user_id && current_user.is_seller %>
  <%= link_to 'Edit', edit_pattern_path(@pattern) %> |
  <%= link_to 'New', new_pattern_path %>
  <% end %>
<%= link_to 'Home', patterns_path %>
