<h1 class = "heading-text" >Pattern</h1>
<div class = "basic-form-box">
  <p class = "pattern_title">
    <strong>
      <%= @pattern.name %>
    </strong>
  </p>

  <%# if the pattern has a valid creator %>
  <% if @pattern.user.seller %>
    <p>
      <strong>Created by:</strong>
      <%= link_to "#{@pattern.user.seller.business_name}", seller_path(@pattern.user.seller) %>
    </p>
  <% end %>
  <p>
    <% @pattern.pictures.each do |pic|%>
      <%= image_tag pic.variant(resize_to_limit: [400, 400]) %>
    <% end %>
  </p>
  <p>
    <strong>Sizes:</strong>
    <%= @pattern.sizes %>
  </p>
  <p>
    <strong>Fabric:</strong>
    <%= @pattern.fabric %>
  </p>
  <p>
    <strong>Fabric amount:</strong>
    <%= @pattern.fabric_amount %>cm
  </p>
  <p>
    <strong>Garment:</strong>
    <%= Garment.find(@pattern.garment_id).name %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= @pattern.category %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@pattern.price) %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @pattern.description %>
  </p>
  <p>
    <strong>Difficulty:</strong>
    <%= @pattern.difficulty %>
  </p>
  <% if @pattern.notions != "" %>
    <p>
      <strong>Notions:</strong>
      <%= @pattern.notions %>
    </p>
  <% end %>

  <%# if pattern is already purchased by the user %>
  <% if user_signed_in? && current_user.transactions.where(pattern_id: @pattern.id).size > 0 %>
    <button >
      <%= link_to "Download instructions", @pattern.file %>
    </button>
  <% else %>

    <%# if pattern has a price, use stripe. otherwise just download the pattern %>
    <% if @pattern.price != 0 && user_signed_in? %>
      <button data-stripe="payment">
        Buy Pattern <%= number_to_currency(@pattern.price) %>
      </button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        document
          .querySelector("[data-stripe='payment']")
          .addEventListener("click", () => {
            const stripe = Stripe(
              "<%= ENV['STRIPE_PUBLIC_KEY'] %>"
            );
            stripe.redirectToCheckout({
              sessionId: "<%= @session_id %>"
            });
          });
      </script>

      <%# if pattern is free %>
    <% elsif user_signed_in?  %>
      <button >
        <%= link_to "Download instructions", @pattern.file %>
      </button>

      <%# if user is not logged in %>
    <% else %>
      <p> <%= link_to "Log in", new_user_session_path %>
        or <%= link_to "Sign up", new_user_registration_path %>
        to purchase this pattern </p>
    <% end %>
  <% end %>

  <%# if user owns the pattern and is a seller%>
  <% if user_signed_in? && current_user.id == @pattern.user_id && current_user.is_seller %>
    <p><%= link_to 'Edit', edit_pattern_path(@pattern) %> |
      <%= link_to 'New', new_pattern_path %> </p>
  <% end %>
  <%= link_to 'Home', patterns_path %>
</div>
