<!DOCTYPE html>
<html>
  <head>
    <title>Sewfar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p>Welcome <%= current_user.name %></p>
      <% if current_user.admin %>
        <%= link_to "All accounts", sellers_path %>
      <% end %>
      <p>User is seller? <%= current_user.is_seller %></p>
      <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      <%= link_to "Edit account", edit_user_registration_path %>
      <% if current_user.is_seller %>
        <%= link_to "Edit seller details", edit_seller_path(current_user.seller) %>
        <% else %>
        <%= link_to "Become a seller", new_seller_path %>
        <% end %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
